<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>
  <style>
  body {
    height: 100%; /* Ensures body takes the full height of the viewport */
    margin:0%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers horizontally */
  }
  footer {
	display:flex;
	justify-content: center;
  }
</style>
</head>
<body style="background-color:lightgray">
  <header>
    {{- partial "header.html" . -}}
  </header>

  <main style="width:50%; margin-left:25%">
    {{ block "main" . }}{{ end }}
  </main>

</body>
</html>
