{{ define "main" }}

<main class="container">
  <h1>{{ .Title }}</h1>

  {{ if .Content }}
    <div class="section-description">
      {{ .Content }}
    </div>
  {{ end }}

  <ul class="post-list">
    {{ range .Pages.ByDate.Reverse }}
      <li class="post-item">
        <h2>
          <a href="{{ .RelPermalink }}">
            {{ .Title }}
          </a>
        </h2>
	{{ if .Summary }}
          <p class="post-summary">
            {{ .Summary }}
          </p>
        {{ end }}
        <p class="post-meta">
          {{ .Date.Format "Jan 2, 2006" }}
        </p>
      </li>
    {{ end }}
  </ul>

</main>

{{ end }}
